*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');


body{
    height: 100vh;
    width: 100vw;
    background-image: url(assets/fund3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
iframe{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    border: none;
    display: none;
}
#newstate{
    position: absolute;
    top: 20%;
    left: 3%;
    display: block;
    background-color: rgb(17, 17, 17);
    border-radius: 10px;
    border: outset #fb9b2a;
    box-shadow: 0px 0px 15px black;
    height: 150px;
    width: 20%;
    padding: 20px;
    color: whitesmoke;
    text-align: center;
    opacity: 0;
    transition: all  ease-in-out;
    animation: fresh 1s alternate infinite;
    
}

#newstate p{
    width: 100%;
    margin-top: 30px;
}

#newstate strong{
    color: rgb(255, 174, 0);
}

#cell{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 300px;
    height: 500px;
    box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.507);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-left: 15%;
}

#up{
    height: 3%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

#cam{
    height: 70px;
    width: 70px;
    background-color: rgb(0, 0, 0);
    transform: rotate(45deg);
    margin-bottom: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#bol-cam{
    height: 12px;
    width: 12px;
    background-color: rgba(231, 223, 223, 0.603) ;
    border-radius: 50%;
    position: relative;
    left: 19px ;
    top: 19px;
    animation: ooo 1s infinite alternate;
}

#tela{
    height: 82%;
}

#notify{
    background-color: rgba(107, 107, 107, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 15px;
    width: 98%;
    margin-left: 1%;
    display: none;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 2px;
    position: relative;
    z-index: 1;
    cursor: pointer;

}

.area-notify{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    
}

.area-notify img{
    width: 18%;
    
}

#hours{
    height: 100%;
    width: 35px;
}

#hours p{
    font-size: 12px;
}

#cell-stats{
    position: absolute;
    top: 15px;
    left: 0px;
    background-color: rgba(77, 77, 77, 0.219);
    height: 395px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    overflow:auto ;
    visibility: hidden;
    cursor: default;
}

#fawr{
    background-color: rgba(77, 77, 77, 0.247);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 30%;
    width: 100%;
    overflow-x: auto;
}

#fawr::-webkit-scrollbar {
    opacity: 0;
}

#block-fawr{
    background-image: linear-gradient(to top, rgba(77, 77, 77, 0), rgba(77, 77, 77, 0.219));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 100%;
    width: 590px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.blocks-fawr{
    background-color: rgba(228, 228, 228, 0.432);
    height: 70%;
    width: 60px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;

}

.blocks-fawr:active{
    background-color: rgba(228, 228, 228, 0.226);

}

.blocks-fawr img{
    height: 30%;

}

.on{
    display: block;
}

.of{
    display: none;

}

.line{
    background-color: black;
    height: 1px;
    width: 60%;
    margin-top: 8px;
}

.tale-blocks-fawr{
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: 2;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

#wifi{
    display: none;
}

#som{
    display: none;
}

#bluetooth{
    display: none;
}

.titleabb{
    font-size: 18px;
    font-weight: bold;
}

.switch__container {
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgba(64, 224, 208, 0.616) );
    position: relative;
    top: 15px;
    left: -10px;
    width: 294px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    
  }
  
  .switch {
    visibility: hidden;
    position: absolute;
    margin-left: 9px;
  }
  
  .switch + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
  }
  
  .switch--shadow + label {
    padding: 2px;
    width:50px;
    height: 25px;
    background-color: #dddddd;
    border-radius: 60px;
  }
  .switch--shadow + label:before,
  .switch--shadow + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  .switch--shadow + label:before {
    right: 1px;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: background 0.4s;
  }
  .switch--shadow + label:after {
    width: 25px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
  }
  .switch--shadow:checked + label:before {
    background-color: #8ce196;
  }
  .switch--shadow:checked + label:after {
    transform: translateX(25px);
  }
  









.tale-blocks-fawr .parg{
    margin-top: 30px;
    font-size: 12px;
}

#corp-stats{
    background-color: rgba(77, 77, 77, 0.219);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content-stats{
    background-color: rgb(228, 228, 228);
    box-shadow: 0px 0px 15px rgba(56, 56, 56, 0.438);
    margin: 0px 0px 50px ;
    width: 90%;
    height: 88%;
    border-radius: 20px;
    cursor: not-allowed;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#content-stats p {
    font-size: 11px;
}


#foot-stats{
    
    width: 100%;
    height: 20px;
    background-color: rgba(77, 77, 77, 0.534);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
}

#bar-spl{
    background-color: #40e0d0;
    height: 5px;
    width: 40%;
    border-radius: 10px;
}

#display{
    position: relative;
    bottom:15px ;
    z-index: 0;
    border-radius: 10px;
    background-image: url(assets/wall2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80%;
    height: 100%;
    width: 98%;
    margin-left: 1%;
    display: flex;
    justify-content: center;

}

#ondisplay{
    position: absolute;
    top: 13%;
    width: 21.8%;
    height: 65%;
    display: block;
    background-color: rgb(2, 2, 2);
    z-index:1;
}

#butt-menu{
    width: 12%;
    height: 10%;
    position: relative;
    top: 86%;
    cursor: pointer;
}

#menu{
    background-color: rgba(77, 77, 77, 0);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
    padding: 40px 10px ;
    position: absolute;
    visibility: hidden;
}
.past{
    background-color: rgb(237, 240, 198);
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
}

#permission{
    position: absolute;
    top: 4%;
    left: 0%;
    width: 100%;
    height: 22%;
    background-color: whitesmoke;
    padding: 5px 5px 0px 5px;
    display: none;
    flex-direction: column;

}

#permission h1{
    margin: 5px 0px 0px 10px;
}

#permission p {
    font-size: 12px;
    margin: 6px 0px 0px 10px;

}

#perbutt{
    width: 100%;
    height: 30%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#perbutt button{
    height: 100%;
    width: 20%;
    background-image: linear-gradient(to top,  #3D94F6, #1E62D0);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#perbutt button:hover{
    background-image: linear-gradient(to bottom,  #3D94F6, #1E62D0);

}

#area-camera{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgb(6, 6, 6);
    display: none;
}

#displaycam{
    margin-top: 30%;
    width: 100%;
}

#but-record{
    width: 50px;
    height: 50px;
    margin: 10% auto;
    background-color: rgb(194, 0, 0);
    border: solid 4px rgb(165, 2, 2);
    border-radius: 50%;
    cursor: pointer;
}




#down{
    height: 15%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     
}
#home{
    width: 25%;
    height: 40%;
    border-radius: 20px;
    background-color: #0f0f0f;
    cursor: pointer;

}
.bar-down img{
    filter: invert(1);
    width: 30%;
    opacity: 0.5;
}
.bar-down{
    background-color: black;
    width: 25%;
    height: 40%;
    border: none;
    cursor: pointer;

}

#backgrounds-cell{
    position: relative;
    bottom: 20%;
    left: 10px;
    height: 25%;
    width: 2.5%;
    border-radius: 20px;
    background-color: #070707;
    border: solid 2px #070707;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#backgrounds-cell img{
    height: 20px;
    width: 20px;
    border-radius: 4px;
    cursor: pointer;

}

#on{
    position: relative;
    bottom: 4%;
    right: 23px;
    height: 20px;
    width: 2.5%;    
    background-color: #383838be;
    border: solid 2px #383838be;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

#float{
    height: 100%;
    width: 100%;
    background-color: #3D94F6;
    position: absolute;
    right: 90%;
    transition: all 0.2s linear;
    
}

#float::after{
    content: "";
    margin-left: 90%;
    height: 100%;
    width: 35%;
    display:block;
    background-color: #3df64c;
    
}


#backgrounds-tale{
    position: relative;
    top: 46%;
    left: 20%;
    height: 4%;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#backgrounds-tale img {
    height: 80%;
    width: 20%;
    border-radius: 4px;
    cursor: pointer;
}



@keyframes fresh{

    

    0%{
        transform: rotate(-1deg);
    }

    100%{
        transform: rotate(1deg);
    }
    

}

@keyframes bolcam{

    0%{
        background-color: rgba(255, 0, 0, 0);
    }
    
    100%{
        background-color: red;
    }


}


